<html lang="en">
<body>
<h1>Pedro</h1>
<div>
  {{#each this.artists}}
    <table>
      <tr>
        <td id="artist-{{this.id}}">{{name}}</td>
      </tr>
    </table>
  {{/each}}
</div>
<div>
  <form method="POST" action="/artists">
    <label for="url"></label>
    <input id="url" name="url" placeholder="insert artist's resident advisor url"/>
    <input id="add-artist-submit" type="submit" value="Submit">
  </form>
</div>
</body>
</html>
